body {
	background: hsl(0, 0%, 98%);
	font-family: Poppins;
	font-size: 15px;
}

.page-content {
	padding: 50px;
}

.container {
	max-width: 900px;
	margin: auto;
}

.header-box {
	text-align: center;
	width: 600px;
	margin: auto;
}

.headings {
	color: hsl(234, 12%, 34%);
}

.top-heading {
	font-weight: 200;
}

.bottom-heading {
	margin-top: -20px;
	font-weight: 600;
}

.sub-heading {
	color: hsl(229, 6%, 66%);
	margin: auto;
	padding: 0px 30px;
}

.project-box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.card {
	border-radius: 10px;
	box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.2);
	margin: 10px;
	padding: 5px 20px;
	width: 280px;
}

.image {
	padding: 20px 0px;
	text-align: right;
}

.light-text {
	color: hsl(229, 6%, 66%);
	font-size: 13px;
	padding-right: 15px;
}

.team {
	grid-area: 1 / 2 / 3 / 3;
}
.supervisor {
	grid-area: 2 / 1 / 4 / 2;
}
.calculator {
	grid-area: 2 / 3 / 4 / 4;
}
.karma {
	grid-area: 3 / 2 / 5 / 3;
}

@media only screen and (max-width: 375px) {
}
