.project-box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.team {
	grid-area: 1 / 2 / 3 / 3;
}
.supervisor {
	grid-area: 2 / 1 / 4 / 2;
}
.calculator {
	grid-area: 2 / 3 / 4 / 4;
}
.karma {
	grid-area: 3 / 2 / 5 / 3;
}
