* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	min-height: 100%;
}

body {
	background: #b9b9b9;
	display: flex;
	font-family: 'Karla', sans-serif;
	font-size: 16px;
	min-height: 100vh;
}

.container {
	margin: auto;
	max-width: 1000px;
	padding: 20px;
	align-items: center;
	justify-content: center;
}

.box {
	background: #f4f4f4;
	border-radius: 10px;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	max-width: 600px;
}

.heading {
	grid-area: 1 / 1 / 2 / 3;
	padding: 30px;
}

.heading h2 {
	padding-bottom: 20px;
	color: #2ab2af;
	font-weight: 700;
}

.sub-heading {
	color: #c0df34;
	padding-bottom: 5px;
}

.price {
	background: #2ab2af;
	border-bottom-left-radius: 10px;
	color: white;
	grid-area: 2 / 1;
	padding-top: 15px;
	padding-left: 30px;
}

.title {
	font-size: 18px;
	padding: 20px 0px 15px 0px;
	font-weight: 700;
}

.price-text {
	font-size: 25px;
	font-weight: 700;
}
.price-box {
	padding: 4px 0px 8px 0px;
}

.price-faded-text {
	line-height: 100%;
	font-size: 13px;
	vertical-align: 30%;
	opacity: 60%;
	padding: 3px;
	font-weight: 400;
}

.price-sub-heading {
	opacity: 80%;
}

.faded-text {
	padding: 5px 0px;
	color: #98a6bd;
}

.button-box {
	padding: 30px 0px 30px 0px;
}

button {
	background: #c0df34;
	border: none;
	border-radius: 5px;
	box-shadow: -3px 3px 4px 3px rgba(0, 0, 0, 0.1);
	color: white;
	font-weight: 700;
	padding: 13px 80px;
}
.about {
	background: #2ab2afbf;
	border-bottom-right-radius: 10px;
	color: white;
	padding-top: 15px;
	padding-left: 30px;
	grid-area: 2 / 2;
}

.about ul {
	list-style-type: none;
}

.about ul li {
	font-size: 14px;
	opacity: 60%;
	line-height: 1.3em;
}

@media only screen and (max-width: 375px) {
	.box {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}
	.heading {
		grid-area: 1/1;
	}
	.price {
		grid-area: 2/1;
		border-bottom-left-radius: 0px;
	}

	.button-box {
		margin-right: 30px;
	}

	button {
		width: 100%;
	}

	.about {
		grid-area: 3/1;
		padding-bottom: 20px;
		border-bottom-left-radius: 10px;
	}
}
