* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	min-height: 100%;
}

body {
	font-family: 'EB Garamond', serif;
	font-size: 1.7rem;
}

.container {
	max-width: 1000px;
}

.box {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.heading {
	grid-area: 1 / 1 / 2 / 3;
}
.price {
	grid-area: 2 / 1 / 3 / 2;
}
.about {
	grid-area: 2 / 2 / 3 / 3;
}

.price-box p {
	display: inline;
}
